@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
}
p{
    color: gray;
}
.container{
    width: 400px;
    max-width: 100%;
    background-color: white;
    border-radius: 6px;
}

header{
    margin-bottom: 10px;
    padding: .5rem 2rem;
}

#header-divider, .weather-divider{
    width: 100%;
    display: inline-block;
    margin-bottom: 1rem;
}

header h3{
    color: #001D6E;
    font-size: 1.9rem;
}

.error-msg{
    padding: .8rem 2rem;
    background-color: rgb(243, 148, 148);
    border-radius: 6px;
    margin-bottom: 2px;
    text-align: center;
    display: none;

}

input, button{
    margin-bottom: 1rem;
    padding: .8rem 5rem;
    border-radius: 6px;
    border-width: 1px;
    border-color: gray;
}

.divider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

hr{
    background-color: gray;
    width: 9rem;
    height: 2px;
}

.input-div{
    padding: 0 2rem;
    font-size: 1rem;
    display: none;
}

input{
    text-align: center;
    width: 100%;
}

.input-field{
    display: flex;
    align-items: center;
}

button{
    width: 100%;
    background-color: navy;
    color: #ffffff;
}

#arrow{
    /* display: none; */
}

#search{
    /* border: 1px solid red; */
   margin-left: -30px;
   margin-top: -15px;
   font-size: x-large;
    
    /* top: 75%; */
}

.weather-details{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 1rem;
    /* display: none; */
}

.temp{
    font-size: 3rem;
}
.humidity{
    display: flex;
    column-gap: 6rem;
    /* justify-content: space-evenly; */
}

@media (max-width: 754px){
    .container{
        width: 320px;
    }

    header h3{
        font-size: 1.4rem;
    }

    .input-div{
        padding: 0 1rem;
        
    }
}